/* Course.css */
.subjectBox {
    /* Add the styles you want to apply to the div */
    /* For example, you can set the background color and add a box shadow */
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .subjectBox:hover {
    /* Add the styles you want to apply when hovering over the div */
    /* For example, you can change the background color and add a transition effect */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: background-color 0.2s ease;
  }
  