.star-list {
    list-style: none; 
    padding-left: 0;
  }
  
  .star-list li {
    position: relative; 
    padding-left: 20px; 
  }
  
  .star-list li::before {
    content: '★';
    position: absolute; 
    left: 0; 
    color:#f8b132; 
  }
  